@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

* {
	scrollbar-width: auto;
	scrollbar-color: #785a28 #010a13;
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background: #010a13;
}

*::-webkit-scrollbar-thumb {
	background-color: #785a28;
	border-radius: 6px;
	border: 4px solid #010a13;
}