@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

/* Beaufort for LOL Bold Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

/* Beaufort for LOL Heavy */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Heavy.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

/* Beaufort for LOL Heavy Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-HeavyItalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

/* Beaufort for LOL Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

/* Beaufort for LOL Light */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Light.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

/* Beaufort for LOL Light Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-LightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

/* Beaufort for LOL Medium */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

/* Beaufort for LOL Medium Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

/* Beaufort for LOL Regular */
@font-face {
	font-family: 'Beaufort';
	src: url('./fonts/beaufort/BeaufortforLOL-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

/* Spiegel Bold */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

/* Spiegel Bold Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

/* Spiegel Regular */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

/* Spiegel Regular Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-RegularItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

/* Spiegel SemiBold */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

/* Spiegel SemiBold Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('./fonts/spiegel/Spiegel-SemiBoldItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
