@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

/* Beaufort for LOL Bold Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-BoldItalic.otf');
	font-weight: 700;
	font-style: italic;
}

/* Beaufort for LOL Heavy */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Heavy.otf');
	font-weight: 800;
	font-style: normal;
}

/* Beaufort for LOL Heavy Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-HeavyItalic.otf');
	font-weight: 800;
	font-style: italic;
}

/* Beaufort for LOL Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Italic.otf');
	font-weight: 400;
	font-style: italic;
}

/* Beaufort for LOL Light */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Light.otf');
	font-weight: 200;
	font-style: normal;
}

/* Beaufort for LOL Light Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-LightItalic.otf');
	font-weight: 200;
	font-style: italic;
}

/* Beaufort for LOL Medium */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

/* Beaufort for LOL Medium Italic */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-MediumItalic.otf');
	font-weight: 500;
	font-style: italic;
}

/* Beaufort for LOL Regular */
@font-face {
	font-family: 'Beaufort';
	src: url('$lib/assets/fonts/beaufort/BeaufortforLOL-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

/* Spiegel Bold */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

/* Spiegel Bold Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-BoldItalic.otf');
	font-weight: 700;
	font-style: italic;
}

/* Spiegel Regular */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

/* Spiegel Regular Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-RegularItalic.otf');
	font-weight: 400;
	font-style: italic;
}

/* Spiegel SemiBold */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-SemiBold.otf');
	font-weight: 600;
	font-style: normal;
}

/* Spiegel SemiBold Italic */
@font-face {
	font-family: 'Spiegel';
	src: url('$lib/assets/fonts/spiegel/Spiegel-SemiBoldItalic.otf');
	font-weight: 600;
	font-style: italic;
}
