name: Pentakill Build and Deploy

on:
  workflow_dispatch
  # push:
  #   branches:
  #     - main

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.3.2'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project

        run: |
          VITE_RIOT_API_KEY=${{ secrets.ENV_RIOT_API_KEY }} VITE_BACKBLAZE_KEY=${{ secrets.ENV_BACKBLAZE_KEY }} VITE_BACKBLAZE_KEY_ID=${{ secrets.ENV_BACKBLAZE_KEY_ID }} bunx --bun vite build

      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: './build/*'
          target: ${{ secrets.DEPLOY_PATH }}

      - name: Restart server
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "systemctl daemon-reload && systemctl restart pentakill"
